// contact us page
.contact {
  @include grid_var(grid, repeat(2, 1fr), 120px);

  @include xs {
    @include grid_var(grid, repeat(1, 1fr), 40px);
  }

  .div_btn_ {
    display: flex;

    justify-content: flex-end;
    max-width: 456px;
    width: 100%;

    @include xs {
      justify-content: flex-start;
    }
  }

  .btn_career_send {
    margin: 0;
  }

  .form_group {
    margin: 0 0 20px;



    textarea {
      width: 456px;
      height: 135px;
      border-radius: 25px;
      background-color: #f2f2f2;
      padding: 20px;
      font-size: 16px;
      color: #999999;

      @include xs {
        width: 100%;
      }

      &:focus {
        outline: 0;
        border-color: #99a7b8;
      }
    }
  }
}

.contact_content,
.group_content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contact_seciton {
  margin-bottom: 160px;
}

.group_content {
  margin-bottom: 30px;

  h4 {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 15px;
  }

  a {
    font-size: 16px;
    color: #f2f2f2;
    margin-bottom: 5px;

    &:hover {
      color: #99a7b8;
    }
  }
}

//careers-page
.careers-section,
.contact_seciton {
  @include xs {
    padding-top: 40px;
    margin-bottom: 70px;
  }

  .title_main {
    margin-bottom: 50px;
    text-align: start;
  }
}

.careers-section {
  .title_main {
    text-align: center;
  }
}

.careers {
  margin-bottom: 160px;

}

.form {
  display: flex;
  justify-content: center;

}

.btn_career_send {
  width: 180px;
  height: 55px;
  border-radius: 28px;
  background-color: #99a7b8;
  font-size: 17px;
  color: #ffffff;
  @include flex-var(flex, center, center);
  margin: auto;
  font-weight: 700;

  &:hover {
    background-color: $color_1;
    color: $main_color;
  }
}

.form_group {
  width: max-content;
  text-align: start;
  margin: 0 auto 20px;

  // margin-bottom: 20px;
  @include xs {
    width: 100%;
  }

  label {

    font-size: 16px;
    font-weight: 500;
    color: $color_1;
    margin-inline-start: 25px;
    margin-bottom: 10px;
    display: block;
  }

  label.required {
    &::after {
      content: "*";
      font-size: 16px;
      color: #ff0000;
      font-weight: 500;
    }
  }

  input {
    width: 456px;
    height: 50px;
    border-radius: 25px;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    padding: 0 20px;
    font-size: 16px;
    color: #999999;

    @include xs {
      width: 100%;
    }

    &:focus {
      outline: 0;
      border-color: #99a7b8;
    }
  }

  .div_btn {
    position: relative;

    .btn_careers {
      position: absolute;
      inset-inline-end: 8px;
      transform: translateY(-50%);
      top: 50%;
      font-size: 14px;
      color: #898989;
      font-weight: 500;
      width: 116px;
      height: 35px;
      border-radius: 18px;
      background-color: #d9d9d9;

      @include flex-var(flex, center, center);

      &:hover {
        background-color: $main_color;
        color: $color_1;
      }
    }
  }
}