body {
  font-weight: normal;
  font-style: normal;
  font-family: "SST";
  background-color: $main_color;
  // @include ar {
  //   font-family: "SST";
  // }
}

figure {
  margin: 0;
}

img {
  image-rendering: -webkit-optimize-contrast !important;
}

.ul_gh {
  list-style: none;
  padding: 0;
  margin: 0;
}

.m_P_gh {
  padding: 0;
  margin: 0;
}

.anc_gh {
  display: inline-block;
  transition: 0.5s;
}

.anc_gh:hover {
  text-decoration: none;
}

.btn_gh {
  border: none;
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  outline: none !important;
  transition: 0.5s;
}

.d_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moboverlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  overflow: hidden;
}

.over_ {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #99a7b8;
}

.title_div {
  text-align: center;
  margin-bottom: 50px;

  h4 {
    font-size: 16px;
    color: #666666;
    margin-bottom: 20px;
    font-weight: 400;
  }

  h2 {
    font-size: 30px;
    color: $black_color;
    font-weight: 700;
    text-align: center;
  }
}

@include xs {
  .title_div {
    h2 {
      font-size: 24px;
    }
  }
}

.effects_,
.effects_2 {
  text-transform: capitalize;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  transition-property: color;
  transition-duration: 0.5s;
  font-size: 14px;
  font-weight: 700;
  color: $color_1;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 25px;

    background: $main_color;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  @include flex-var(flex, center, center);

  &:hover {
    background-color: $color_8;
    color: $color_1;

    &:before {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }
  }
}

.title_main {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

// title secondary
.title_secondary {
  font-size: 18px;
  color: #231f20;
  font-weight: 700;
  margin-bottom: 20px;
}

.progress {
  position: fixed;
  left: 0px;
  top: -12px;
  width: 100%;
  height: 20px;
  z-index: 9999;
  background-color: transparent;

  .bar {
    background: $main_color;
    width: 0%;
    height: 5px;
  }
}

.percent {
  position: absolute;
  display: inline-block;
  top: 3px;
  left: 48%;
}

// back-up
.back_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 88;

  &:hover {
    cursor: pointer;
    background-color: $color_8;
  }

  &::after {
    content: "ï„†";
    font-family: "line Awesome Free";
    font-weight: 900;
    font-size: 18px;
    color: $color_1;
  }
}

// fixed-header

.fixed_ {
  .header {
    padding: 0;
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $main_color;
  z-index: 50;
  transition: 0.5s;
  padding: 10px 0;
  box-shadow: 0px 0px 5px 0px #99a7b8;

  .logo {
    img {
      width: 180px;
      height: auto;
    }
  }

}

.fixsedt {
  top: -130px;
}

@include xs {
  .fixed_ {
    z-index: 50;
    transition: 0.5s;
    padding: 5px 0;
  }
}

.breadcrumb-parant {
  background-color: #334258;
  padding: 30px 0;
  margin-bottom: 80px;
}

.breadcrumb_ {
  font-size: 16px;
  color: #99a7b8;

  @include flex-var(flex, center, flex-start);

  a {
    font-weight: 400;
    text-transform: capitalize;
    color: #99a7b8;

    &:hover {
      color: $color_1;
    }
  }

  span {
    margin: 0 10px;
  }

  h5 {
    font-size: 13px;
    text-transform: capitalize;

    font-weight: 400;
  }
}

@include xs {
  .breadcrumb-parant {
    display: none;
    padding: 20px 0;
    margin-bottom: 50px;
  }

  .breadcrumb_ {
    color: $color_1;
    font-size: 13px;
  }
}

.custom-container {
  padding: 0 70px;

  @include xs {
    padding: 0 15px;
  }
}

// paginatioin style
.pagination- {
  margin-bottom: 10px;

  .ul_pagination {
    padding-bottom: 130px;

    li {
      &:nth-child(2) {
        button {
          color: #2a394e;
          background-color: $color_1;
        }
      }
    }

    @include xs {
      padding-bottom: 40px;
    }

    @include flex-var(flex, center, center);

    .btn_angle {
      font-size: 18px;
      margin: 0 5px;
      color: #999999;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #44546b;

      &:hover {
        color: #2a394e;
        background-color: $color_1;
      }
    }

    .btn_pagination {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 5px;
      background-color: transparent;
      font-size: 16px;
      color: #a4a4a4;
      background-color: #44546b;

      &:hover {
        color: #2a394e;
        background-color: $color_1;

      }
    }
  }
}